* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: #E5E5E5;
}

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn,
#delete-btn,
#done-btn {
    cursor: pointer;
}

.main-body {
    width: 533px;
    height: 710px;
    background-color: #f0f5f9;
    color: #313C46;
    box-shadow: 0 0 15px #C9D6DF;
    margin-top: 10%;
    display: flex;
}

.main-container {
    padding: 1.5rem 1rem;
}

.objective {
    font-size: 8pt;
}

.padded-vertical {
    padding: 1rem 0;
}

.sidebar {
    width: 35%;
    height: 100%;
    background-color: #52616B;
    color: #F0F5F9;
}

.padded {
    padding: 1.5rem 1rem;
}

.padded-lr {
    padding: 0.5rem 1rem;
}

.small-text {
    font-size: 10pt;
}

.small-text .label {
    font-weight: bold;
}

.small-text .label:not(:first-child) {
    margin-top: 0.5rem;
}

.section-header {
    width: 100%;
    background-color: #313C46;
    margin-top: 0.5rem;
    padding: 0.15rem 1rem;
}

.main-body-section-header {
    border-top: 1px solid #C9D6DF;
    border-bottom: 1px solid #C9D6DF;
    margin-top: 1rem;
    padding: 0.25rem 0;
}

input[type="text"] {
    width: 100%;
}

.small-input {
    font-size: 10pt;
    padding: 0;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10pt;
    margin-bottom: 0.15rem;
}

form.work-input label,
form.edu-input label {
    font-size: 9pt;
}

form.work-input input,
form.edu-input input {
    padding: 0;
    line-height: 8pt;
    font-size: 8pt;
    width: 100%;
}

form.work-input textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 8pt;
}

.flex-wrapper {
    display: flex;
    gap: 10px;
}

.right-side {
    justify-content: flex-end;
}

.work-info,
.school-info {
    font-size: 10px;
}

.work-info:not(:first-child) {
    margin-top: 0.5rem;
}

.dates {
    width: 10%;
}

.italic {
    font-style: italic;
    margin-bottom: 0.25rem;
}